
.breadcrumb.content{
    margin-left: 0;
}
.content{
    margin:60px;
    
    
}
.content p{
    margin:0;
}

nav .pagination{
    justify-content:center;
    
}
div.sort{
    display:inline-block;
  
    
}
div.sort a{
    text-decoration:none;
    color:inherit;
    
}
div.sort a:hover,
div.sort a.active{
color:#007bff;
}


#add-new-task{
    display:none;
    margin:10px 25px;
    overflow: hidden;
}
.edit-form{
    
    margin:70px;
    
}

footer p{
    margin-bottom:0;
    font-size:0.7rem
}

.img-thumbnail.small{
    max-width:50px;
}